body {
  background: linear-gradient(to right, #1b4c2e, #a8d4e4);
}

.words {
  background: #fff;
  padding: 40px;
  width: 600px;
  margin: 100px auto;
  border-radius: 4px;
  box-shadow: 1px 1px 1px #111;
  font-weight: bold;
  font-size: 15px;
}

.words p {
  border-bottom: 1px solid #eee;
  padding-bottom: 7px;
}
